{{outlet}}

<p> Model Name: {{model.name}} </p>
<p> Model Id: {{model.id}} </p>

<ul>


  {{#each model.parts as |part|}}
    <li class='part'>
      {{part.name}}
    </li>
    {{part.length}}
  {{/each}}
</ul>
